* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: 'avenir', sans-serif;
  text-align: center;
	width: 356px;
	height: 700px;
	font-weight: 100;
	font-size: 12px;
	color: #FFF;
}

.selected {
	color: #F84982;
}

h1 {
	font-weight: 100;
	padding-top: 20px;
}

li {
	display: inline-block;

}

.container {
	background-color: #2f2444;
	height: 667px;
	width: 365px;
}

#timer {
  font-size: 50px;
	color: #FFF;
}
.active {
	background-color: #189cc4;
}

#toggle {
	margin-top: 25px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 0;
	opacity: 0.5;
	cursor: pointer;
}
#timerDot {
	background-color: #189cc4;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	margin: auto;
}
#minus {
	float: left;
}

#add {
	float: right;
}
.button {
	display: inline-block;
	margin-top: 20px;
	background-color: #827b8e;
	width: 30px;
	font-size: 20px;
	padding-top: 0px;
}

.button:focus {
	outline:0;
}

.button:hover {
	cursor: pointer;
}
